@font-face {
    font-family: "Source Sans Pro";
    src: inline-pb-img("SourceSansPro-Regular_directwrite.woff", "application/font-woff") format("woff");
    font-style:   normal;
    font-weight:  400;
    font-stretch: normal;
    //unicode-range: U+1F698-1F698;
}