@import "bourbon", "ui", "logo";

/*
@mixin app {

    @at-root {
*/

        html,body {
            font-size:16px;
        }

        html {
            background:$ui-dark;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-text-size-adjust: 100%;
            //@include transition(background-color 400ms);
        }

        body {
            @include ui-font;
            color:$ui-light-rev;
            //padding:0;
            background:transparent;
        }

        @include smscreen {
            html, body {
                width:100%;
                overflow-x:hidden;
                -webkit-overflow-scrolling: touch;
            }
            html {
                position:static;
            }
            html {
                //overflow:visible;
                position:static;
                background:$ui-bg;
            }

            // body {

            // }
        }

        @include lgscreen {
            // lock the viewport

            html, body {
                height:100%;
                //min-height:100vh;
                width: 100%;
                //min-height:100vh;
                overflow: hidden;
            }
        }

/*
    }

}

@mixin loader {
    @at-root {
*/
        body {
            &::before {
                content:"Loading"+$hellip;
                @include position(absolute, 50% auto auto 50%);
                width:100px;
                text-align:center;
                margin-left:-50px;
                color:white;
                display:block;
                font-size:16px;

                @include ready {
                    content:none;
                }
            }
            // IE9+
            &::before {
                padding:110px 0 0 0;
                margin-top:-110px;
                @extend %logo-light;
                background-color:transparent;
                background-repeat:no-repeat;
                background-position:0 0;
                background-size:100px auto;
                text-align:left;
            }
        }
/*
    }
}
*/
