@import "bourbon";

$ui-y: rgb(253,190,0);
$ui-b: rgb(0,28,51);
$ui-r: rgb(51,6,0);
$ui-g: rgb(13,51,0);

$dot-green-prev: #318356;
$dot-blue-prev: #2B4C87;
$dot-red-prev: #CE3430;
$dot-orange-prev: #E7792B;
$dot-yellow-prev: #E7AF34;

$dot-green-alt: rgb(0, 132, 61); // http://rgb.to/pantone/coated/348-c
$dot-green:$dot-green-alt;

$dot-blue-alt: rgb(0, 47, 108); // http://rgb.to/pantone/coated/294-c
$dot-blue:$dot-blue-alt;

$dot-orange-alt: rgb(229, 114, 0); // http://rgb.to/pantone/coated/152-c
$dot-orange:$dot-orange-alt;

$dot-red-alt: rgb(166, 25, 46); // http://rgb.to/pantone/coated/187-c
$dot-red:$dot-red-alt;

$dot-yellow-alt: rgb(255, 205, 0); // http://rgb.to/pantone/coated/116-c
$dot-yellow:$dot-yellow-alt;

$dot-purple: rgb(109,32,119); // http://rgb.to/pantone/coated/259-c
$dot-brown: rgb(105,63,35); // http://rgb.to/pantone/coated/469-c

$frontdesk-color: tint(lighten($ui-b, 25%), 5%);
$community-color: lighten($ui-g, 10%);

$frontdesk-bg: desaturate(lighten($ui-b, 10%), 75);

/*
@mixin brand-font {
    line-height: 0.85em;
    text-transform:uppercase;
    font-family:"Parking Boss", "Fette 1451 Engschrift", arial, sans-serif;
    text-decoration:none;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin logotype {
    width: 2.85em;
    height:1.6em;
    @include brand-font;
    letter-spacing:-0.035em;
    &:after {
          content:"\2122";
          font-size: 0.335em;
          display: inline-block;
          vertical-align: top;
          line-height: 1.1em;
          font-family:arial, sans-serif;
    }
}

@mixin logotype-sm {
    @include logotype;
    width:auto;
    height:0.8em;
}
*/