@import "bourbon", "branding";

//$ui-dark: lighten(black, 20%);
$ui-dark: lighten(black, 20%);
$ui-dark-highlight: lighten($ui-dark, 15%);
$ui-dark-rev:darken(white, 6%);
$ui-dark-divider: lighten($ui-dark,5%);
$ui-dark-outline: lighten($ui-dark, 10%);

$ui-lightest:#fff;
//$ui-lightest: #fdfdfd;
//$ui-lighter: darken(white, 1%);
//$ui-lighter:#fdfdfd;
$ui-lighter:$ui-lightest;
$ui-light: darken(white, 2.5%); //#f4f4f4;
//$ui-light-highlight: #fafafa;
//$ui-light-rev: lighten(black, 10%);
$ui-light-bg:$ui-lightest;
$ui-light-rev:$ui-dark;
$ui-light-divider: darken($ui-light-bg,5%);
$ui-light-outline: darken($ui-light-bg, 10%);
$ui-light-overlay: $ui-light-bg;

$ui-bg:$ui-lightest;
$ui-rev:$ui-light-rev;
$ui-divider: $ui-light-divider;
$ui-outline: $ui-light-outline;
$ui-overlay: $ui-light-bg;
$ui-overlay-divider: $ui-divider;
$ui-overlay-outline: $ui-outline;




//$ui-lightest: #fefefe;

//$ui-action: lighten($ui-b, 30%);
$ui-action: saturate(lighten(adjust_hue($dot-blue, 350), 20), 30);
$ui-action-rev: white;
//$ui-action-highlight: lighten($ui-action, 10%);
$ui-action-highlight: darken($ui-action, 10%);
//$ui-action-active: lighten($ui-action, 25%);
$ui-action-active: lighten($ui-action, 20%);
$ui-action-focus: $ui-action-active;

$ui-dark-action: lighten($ui-action, 20%);
$ui-dark-action-highlight: lighten($ui-dark-action, 10%);
$ui-dark-action-active: lighten($ui-dark-action, 15%);
$ui-dark-action-focus: $ui-dark-action-active;

$ui-error-step: 5%;
$ui-error-base: 30%;
$ui-error: lighten($ui-r, $ui-error-base);
$ui-error-highlight: lighten($ui-r, $ui-error-base - $ui-error-step);
$ui-error-active: lighten($ui-r, $ui-error-base + (2 * $ui-error-step));
$ui-error-focus: $ui-error-active;

//$ui-ok: lighten($ui-g,20%);
$ui-ok: lighten($ui-g,25%);
//$ui-ok-highlight: lighten($ui-ok,5%);
$ui-ok-highlight: lighten($ui-g,15%);
$ui-ok-active: lighten($ui-g,60%);
//$ui-ok-active: lighten($ui-ok,10%);
$ui-ok-focus:$ui-ok-active;

$ui-delete: lighten($ui-r, 30%);
$ui-delete-highlight: lighten($ui-r, 25%);
$ui-delete-active: lighten($ui-r, 40%);
$ui-delete-focus:$ui-delete-active;

$ui-form-divider: $ui-light-divider;

$ui-reveal-duration:300ms;
//$hellip:"...";
//$hellip:unicode("2026");
$hellip:"\2026";
$ellipsis:$hellip;

$ui-start:saturate(lighten($dot-green, 0), 25);
$ui-end:saturate($dot-red, 10%);

// status colors
//$ui-permitted:lighten($dot-green, 5%);
$ui-permitted:saturate(lighten($dot-green, 0), 30);
$ui-permitted-highlight:darken($ui-permitted, 10%);
$ui-permit:$ui-permitted;
$ui-permit-highlight:$ui-permitted-highlight;

$ui-warning: saturate($dot-orange, 10%);
$ui-warning-highlight: darken($ui-warning, 10%);
$ui-warned: $ui-warning;
$ui-warned-highlight: $ui-warning-highlight;
$ui-warn: $ui-warning;
$ui-warn-highlight: $ui-warning-highlight;
$ui-violation: $ui-warning;
$ui-violation-highlight: $ui-warning-highlight;

//$ui-current: $ui-permitted;

$ui-donotpermit: saturate($dot-red, 10%);
$ui-donotpermit-highlight: darken($ui-donotpermit, 10%);

$ui-ban: $ui-donotpermit;
$ui-ban-highlight: $ui-donotpermit-highlight;
$ui-banned: $ui-ban;
$ui-banned-highlight: $ui-ban-highlight;

$ui-assign: saturate($dot-blue, 5%);
$ui-assign-highlight: darken($ui-assign, 10%);
$ui-assigned: $ui-assign;
$ui-assigned-highlight: $ui-assign-highlight;

//$ui-media:$dot-green-alt;
$ui-permit-media:$dot-blue-alt;
$ui-guests:$dot-green-alt;
$ui-residents:$dot-blue-alt;
$ui-warning-media:$dot-orange-alt;


// notes
$ui-light-notes: desaturate(lighten($ui-y, 40), 25);
$ui-light-notes-divider:desaturate(lighten($ui-y, 30), 25);
$ui-light-notes-accent:$ui-y;

$ui-activity: #681E99;

$ui-nav: $ui-light;
$ui-highlight: $ui-rev;
$ui-deprecated: lighten($ui-rev, 60%);
$ui-note:#675600;
$ui-note-bg:#fff4cc;
$ui-note-padding:0 0.25rem;
$ui-info: lighten($ui-rev, 50%);
$ui-label:lighten($ui-rev, 40%);
$ui-text:lighten($ui-rev, 10%);

$ui-error-step: 5%;
$ui-error-base: 30%;
$ui-error: lighten($ui-r, $ui-error-base);
$ui-error-highlight: lighten($ui-r, $ui-error-base - $ui-error-step);
$ui-error-active: lighten($ui-r, $ui-error-base + (2 * $ui-error-step));
$ui-error-focus: $ui-error-active;

$ui-donotpermit: $ui-error;
$ui-donotpermit-highlight: darken($ui-donotpermit, 10%);

$ui-ban: $ui-donotpermit;
$ui-ban-highlight: $ui-donotpermit-highlight;
$ui-banned: $ui-ban;
$ui-banned-highlight: $ui-ban-highlight;