time[data-valid],
{
    //display:none;
    display:block;
    color:$ui-label;
    font-size:0.875rem;
    line-height:2.5rem;

    &[datetime] {


        &.invalid {
            color:$ui-error;
            //font-weight:700;
        }
    }
    &:empty {
        //display:none;
        &::before {
            content:"Updating...";
        }
    }
    &:not(:empty)::before {
        content:"Updated ";
    }
}


dd.vehicle.id::before,
data.vehicle.id::before,
h1.vehicle.id::before,
label.vehicle.id::before {
    @include icon("vehicle");

}
/*label.vehicle.id > span:first-child:before {
    content:"License plate";
}*/


dd.id,
label.id::before,
label.id input,
h1.id,
data.id,
button.id,
label.id select + span,
{
    @include identifier;
}

dd.id,
data.id,
label.id,
label.id input,
button.id,
{
    white-space:nowrap !important;
}

/*dd.vehicle.id,
label.vehicle.id input,
h1.vehicle.id,
data.vehicle.id,
button.vehicle.id,
label.vehicle.id select + span,
{
    letter-spacing:2px;
}*/

@each $type in "vehicle", "media", "space", "permit", "attendant" {
    label.#{$type}.id input,
    data.#{$type}.id,
    h1.#{$type}.id,
    button.#{$type}.id,
    //dd.#{$type}.id,
    {
        letter-spacing:0.0625em;
    }
}

/*dd.id,
label.id::before,
label.id input,
data.id,
{
    letter-spacing:0.075em; // proportional letter spacign for IDs
}*/

dd.id,
label.id,
h1.id,
data.id,
{
    &::before {
        display:inline-block;
        text-align:center;
    }
}
dd.id,
h1.id,
data.id {
    &::before {
        margin-right:0.25rem;
        text-indent:1px;
    }
}


label.id::before {
    min-width:1em;
}
dd data.id::before {
    min-width:1em;
}

label.id {
    &::before {
        margin-right:0.25rem;
    }
    // &::before, input, select+span {
    //     font-size:1.25rem;
    // }

    white-space:nowrap;

    input {
        max-width:calc(100% - 1.25em);
    }


    &:not(.value) select + span {
        visibility:hidden;
    }
    select + span:after {
        content:none !important;
    }

    + ul.datalist {
        //padding:0.5rem 0;
        border-bottom:1px solid $ui-light-divider;


        &:empty {
            height:0;
            max-height:0;
            overflow:hidden;
            border:0;
            padding:0;
        }

        max-height:9.5em;
        overflow:auto;
        -webkit-overflow-scrolling: touch;

        li {

            button {
                height:2em;
                line-height:2em;
                color:$ui-action;
                display:block;
                width:100%;

                &::after {
                    //content:"";
                    display:inline-block;
                    @include size(1em, 1em);


                    vertical-align: middle;
                    background:transparent none no-repeat 100% 50%;
                    background-size:contain;
                    margin-top:-0.125em;
                    font-size:1em;
                    //background-image:svg-url('<svg width="415" height="676" viewBox="0 0 415 676" xmlns="http://www.w3.org/2000/svg"><path d="M0 77L77 0l338 338L77 676 0 597l260-259L0 77z" fill="#{$ui-light-outline}" fill-rule="evenodd"/></svg>');
                }
                &:hover::after {
                    //background-image:svg-url('<svg width="415" height="676" viewBox="0 0 415 676" xmlns="http://www.w3.org/2000/svg"><path d="M0 77L77 0l338 338L77 676 0 597l260-259L0 77z" fill="#{$ui-action}" fill-rule="evenodd"/></svg>');
                }
            }
            + li {
                border-top:solid 1px $ui-light-divider;
            }
        }
    }
    /*&.required + ul.datalist {
        margin-left:2.25rem;
    }*/
}
data.id,
label.id,
h1.id,
{
    &::before {
       @include icon("permit");
    }
}
h1.id,
data.id,
{
    &::before {
        content:"#";
        //margin-right:0;
    }
}

//data.violation.id,
label.violation.id,
h1.violation.id, {
    &::before {
       @include icon("violation");
    }
}



/*label.visiting::before,
h1.visiting::before {

    @include icon("print");
}*/

dd.tenant.id,
data.tenant.id,
label.tenant.id,
h1.tenant.id,
label.unit.id,
h1.unit.id {
    @include icon("tenant");

    @each $key, $val in $tenants {
        html.tenants.#{$key} &::before,
        {
            @include icon($key);
        }
        &.#{$key}::before
        {
            content:icon($key) !important;
        }
        &[data-type='#{$key}']::before
        {
            content:icon($key) !important;
        }
    }
}


dd.media.id,
data.media.id,
label.media.id,
h1.media.id, {

    @each $key, $val in $media {
        html.#{$key}.media &::before,
        {
            @include icon($key);
        }
        &.#{$key}::before
        {
            content:icon($key) !important;
        }
        &[data-format='#{$key}']::before,
        &[data-type='#{$key}']::before
        {
            content:icon($key) !important;
        }
    }
}


dd.space.id::before,
data.space.id::before,
label.space.id::before,
h1.space.id::before {
    @include icon("space");
}

label.password::before,
{
    @include icon("lock");
}