@function logo-url($color:#fff) {
    @return svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 595 595"><path fill="#{$color}" d="M594.3 364.88c0 11.9-1.18 16.66-5.44 23.8-7.1 11.44-18.95 18.1-31.97 18.1-12.32 0-24.4-5.95-31.5-15.7-5.45-7.4-7.1-13.58-7.1-26.2v-79.5c0-23.56 15.85-40.22 37.88-40.22 13.5 0 24.63 5.95 31.97 17.14 4.97 7.38 6.15 12.13 6.15 23.08v6.67h-22.5v-6.67c0-5.95-.23-6.9-1.65-9.52-2.6-4.76-8.05-8.1-13.74-8.1-9.46 0-15.6 6.92-15.6 17.63v79.48c0 7.62 0 7.86 1.4 10.72 2.6 5 8.3 8.56 14.2 8.56 3.57 0 7.12-1.43 9.72-3.8 4.5-3.57 5.7-6.9 5.7-15.48v-27.85h-18.25v-19.75h40.73v47.6zM416.46 246.6h21.07l35.3 96.15V246.6h22.5v158.75h-21.1l-35.28-96.4v96.4h-22.5M369.33 246.6h22.5v158.75h-22.5M271.52 246.6h22.5v73.06l34.1-73.08h22.27l-30.8 63.32 36.23 95.45h-23.9l-25.35-70.93-12.56 23.56v47.37h-22.5V246.6M178.7 246.6H218c20.6 0 36.7 16.4 36.7 37.6v14.75c0 15.47-5.44 25.47-18.46 33.56l24.15 72.85h-24.16l-21.07-68.08H201.2v68.08h-22.5V246.6zm38.13 70.68c6.38 0 9.7-1.43 13.02-5.24 3.08-3.56 3.78-5.7 3.78-13.1V284.2c0-9.76-6.63-16.43-16.57-16.43H201.2v49.5h15.62zM112.15 246.6h19.65l35.3 158.75h-24.17l-6.4-34.04h-29.36l-6.4 34.05h-23.9l35.28-158.76zm20.36 103.53l-10.64-57.84-10.66 57.83h21.3zM10.8 246.6h36.93c9.48 0 19.2 4.04 25.82 10.94 5.68 5.95 10.4 16.2 10.4 23.1v22.83c0 12.62-3.06 20.95-10.4 28.33-7.82 7.86-15.63 10.95-28.66 10.95H33.3v62.6H10.8V246.6zm34.33 74.73c6.86 0 10.18-1.2 13.5-4.52 3.55-3.56 4.26-5.47 4.26-13.33v-20.7c0-8.8-6.64-15-15.88-15H33.3v53.56h11.83zM280.52 547.73h22.74v5.7c0 5.73.48 7.62 2.13 10.48 2.84 5 8.05 7.87 14.2 7.87 5.68 0 11.13-2.86 13.97-7.38 1.66-2.63 2.13-5 2.13-11.2v-10.95c0-12.6-2.13-14.75-21.55-22.13-14.2-5.48-20.83-10-26.28-18.33-4.26-6.9-5.7-11.9-5.7-22.15v-7.13c0-22.14 16.83-39.76 38.14-39.76 21.33 0 37.9 17.38 37.9 39.75v7.15h-22.5v-7.14c0-10.46-6.15-17.13-15.63-17.13-9 0-15.15 6.9-15.15 17.14v7.15c0 11.2 2.37 13.57 19.18 20 24.4 9.04 34.1 20.7 34.1 40.94v12.84c0 12.38-1.66 17.85-7.58 25.7-7.58 10-18.24 15.24-30.8 15.24-23.2 0-39.3-16.9-39.3-40.94v-5.7zM190.06 547.73h22.74v5.7c0 5.73.47 7.62 2.13 10.48 2.84 5 8.05 7.87 14.2 7.87 5.7 0 11.14-2.86 13.98-7.38 1.67-2.63 2.14-5 2.14-11.2v-10.95c0-12.6-2.14-14.75-21.55-22.13-14.22-5.48-20.85-10-26.3-18.33-4.26-6.9-5.68-11.9-5.68-22.15v-7.13c0-22.14 16.8-39.76 38.12-39.76 21.32 0 37.9 17.38 37.9 39.75v7.15h-22.5v-7.14c0-10.46-6.16-17.13-15.63-17.13-9 0-15.14 6.9-15.14 17.14v7.15c0 11.2 2.36 13.57 19.17 20 24.4 9.04 34.1 20.7 34.1 40.94v12.84c0 12.38-1.65 17.85-7.57 25.7-7.58 10-18.23 15.24-30.8 15.24-23.2 0-39.3-16.9-39.3-40.94v-5.7zM99.83 472.75c0-23.1 16.1-40 38.13-40 11.37 0 22.5 5.25 29.6 14.05 5.92 7.4 8.3 15 8.3 25.95v81.64c0 10.94-2.37 18.56-8.3 25.94-7.1 8.8-18.23 14.04-29.6 14.04-22.02 0-38.12-16.9-38.12-39.98v-81.65zm22.5 80.92c0 7.15 1.18 10.48 5.2 14.05 3.1 2.62 6.65 4.05 10.43 4.05 5.2 0 10.66-3.1 13.5-8.1 1.42-2.38 1.9-4.76 1.9-10v-80.92c0-5.7-.72-8.1-2.85-10.95-3.3-4.05-7.8-6.43-12.3-6.43-5.2 0-10.66 3.1-13.74 7.62-1.65 2.6-2.13 4.75-2.13 9.75v80.92zM10.8 434.2h37.17c8.76 0 19.18 4.5 25.8 11.18 6.88 6.9 10.2 15.23 10.2 25.94v12.38c0 11.2-5.7 20.47-15.87 25.7 11.13 6.67 15.87 14.53 15.87 26.67v18.33c0 22.37-15.87 38.55-38.13 38.55H10.8V434.2zm35.5 136.14c9.72 0 16.6-6.66 16.6-15.95v-18.33c0-10.48-6.4-16.67-17.06-16.67H33.3v50.94h13zm.5-70.93c10.17 0 16.1-6.66 16.1-18.08v-10c0-9.52-6.64-15.94-16.83-15.94H33.3v44.03h13.5zM266.58 73.6c0 8.03-6.6 14.6-14.63 14.6h-6.25l4.5 11.7c3.16 8.16 5.74 22.02 5.74 30.78v69.04c0 10.22-8.38 18.6-18.63 18.6-10.23 0-18.6-8.38-18.6-18.6V189.1H48.4v10.62c0 10.22-8.4 18.6-18.63 18.6-10.25 0-18.63-8.38-18.63-18.6V130.7c0-8.77 2.58-22.64 5.73-30.8l4.5-11.7h-6.24C7.1 88.2.53 81.63.53 73.6S7.1 59 15.16 59h17.5l12.7-32.93C48.5 17.9 57.97 9.23 66.42 6.83c0 0 21.9-6.25 67.12-6.25 45.23 0 67.13 6.25 67.13 6.24 8.44 2.4 17.92 11.07 21.08 19.25L234.46 59h17.5c8.03 0 14.62 6.57 14.62 14.6zm-219 4.3c-1 2.75.57 5 3.5 5h164.95c2.93 0 4.5-2.25 3.48-5l-14.94-40.47c-1-2.74-4.23-5-7.16-5H69.7c-2.93 0-6.15 2.26-7.16 5L47.6 77.9zm2.1 71.27c9.53 0 17.25-7.7 17.25-17.2s-7.72-17.2-17.24-17.2c-9.53 0-17.25 7.7-17.25 17.2s7.72 17.2 17.24 17.2zm167.73 0c9.54 0 17.25-7.7 17.25-17.2s-7.7-17.2-17.24-17.2c-9.5 0-17.22 7.7-17.22 17.2s7.7 17.2 17.23 17.2z"/></svg>');
}

@mixin logo-light {
    background-image:logo-url(#fff);
}
@mixin logo-dark {
    background-image:logo-url(#252525);
}

%logo-light {
    @include logo-light;
}
%logo-dark {
    @include logo-dark;
}