@import "bourbon", "branding", "svg", "logo";

@function unicode($str){
 @return unquote(str-insert($str, "\\", 1));
}

$ui-font: roboto, "source sans pro", arial, sans-serif;
$ui-font-sm: verdana,tahoma,helvetica,arial,sans-serif;
$ui-icons-font: "icons";

@mixin ui-font {
    font-family: $ui-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@mixin ui-font-sm {
    font-family: $ui-font-sm;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin icons-font {
    font-family: $ui-icons-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight:normal !important;
}

@mixin ui-icon-font {
    font-family: $ui-icons-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight:normal !important;
}
@mixin ui-icons-font {
    font-family: $ui-icons-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight:normal !important;
}

@mixin ui-widget-reset {
    //@include appearance(none); // no longer supported
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
    border:0;
    margin:0;
    padding:0;
    background:transparent;
    font-family:inherit;
    font-size:100%;
    text-align:left;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    &[type='password'] {
        font-family: caption;
        font-family: small-caption;
        //font-size:100%;
        @media only screen {
            font-family:inherit;
            font-weight:inherit;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
}

%ui-widget {
    @include ui-widget-reset;
}



$icons: (
    'hang':"\e003",
    'smart-decal':"\e006",
    'smart':"\e004",
    'window':"\e005",
    'violation':"\26A0",
    'alert':"\F06A",
    'donotpermit':"\1F6AB",
    'exempt':"\2605",
    'space':"\1F15F",
    'vehicle':"\1F698",
    'next':"\203A",
    'permittable':"\238C",
    'undo':"\238C",
    'lock':"\1F512",
    'phone':"\260E",
    'time':"\1F553",
    'cart':"\E010",
    'activity':"\E001",
    'user':"\f007",
    'print':"\1F5B6",
    'pass':"\E006",
    'revoke':"\24E7",
    'tenant':"\1F3E2",
    'house':"\2302",
    //'houses':"\2302",
    'home':"\2302",
    //'homes':"\2302",
    'condo':"\2302",
    //'condos':"\2302",
    'townhome':"\2302",
    //'townhomes':"\2302",
    //'apt':"\2302",
    'apartment':"\2302",
    //'apartments':"\2302",
    //'ste':'\1F3E2',
    'suite':'\1F3E2',
    'office':'\1F3E2',
    'permit':'\0023',
    'number':'\0023',
);

$tenants: (
    //'tenant':'tenant',
    'house':'house',
    //'houses':'house',
    'home':'home',
    //'homes':'home',
    'condo':'condo',
    ///'condos':'condo',
    'townhome':'townhome',
    //'townhomes':'townhome',
    //'apt':'apartment',
    'apartment':'apartment',
    //'apartments':'apartment',
    'suite':'suite',
    'office':'office',
    //'ste':'suite',
);

$media: (
    'window':'window decal',
    'hang':'hang tag',
    'smart':'Smart Decal',
    'smart-decal':'Smart Decal',
);
@function icon($key){
     @return map-get($icons, $key);
}
@mixin icon($key, $text:"") {
    $icon:map-get($icons, $key);
    content:"#{$icon}#{$text}";
}
@mixin identifier {
    font-family:"Van Condensed Pro ID" !important;
    text-transform:uppercase !important;
    font-weight:normal !important;
}

%identifier {
    @include identifier;
}

$ui-loading-text: "Loading";

@mixin ui-loading($text: $ui-loading-text) {
    &:before {
        content:$text + $ellipsis;
    }
    &.ready:before,
    .ready > &:before {
        content:none;
    }

}

@mixin ui-header-loading($text: $ui-loading-text) {
    & > header {
        position:fixed;
    }
    & > header h1:before {
        content:$text + $ellipsis;
    }
    &.ready > header {
        position:relative;
    }
    &.ready > header h1:before {
        content:none;
    }

}
$ui-ready-duration: 200ms;

@mixin show($duration: $ui-ready-duration) {

    visibility:visible;

    @if $duration > 0 {
        transition: opacity $duration;
    }
    opacity:1;

}
@mixin hide($duration: $ui-ready-duration) {

    @if $duration > 0 {
        transition: opacity $duration;
    } @else {
        visibility:hidden;
    }
    opacity:0;

    .ie8 & {
        visibility:hidden;
    }

}

@mixin ui-ready($duration:$ui-ready-duration) {
    @include hide(0ms);

    .ready > & {
        @include show;
    }
    &.ready {
        @include show;
    }

}

$lgwidth: 980px;
$smwidth: 979px;
$xlwidth: 1120px;


@mixin lgscreen($minwidth: $lgwidth) {
  @media
      //only screen and (min-device-width: $minwidth),
    only screen and (min-width: $minwidth) {
    @content;
  }
}
@mixin xlscreen($minwidth: $xlwidth) {
  @media
    only screen and (min-width: $minwidth) {
    @content;
  }
}
@mixin smscreen($maxwidth: $smwidth) {
    @media
    handheld,
    //only screen and (max-device-width: $maxwidth),
    //only screen and (max-device-width:$maxwidth + 1) and (orientation:portrait),
    only screen and (max-width: $maxwidth)
    {
        @content;
    }
}

@mixin ready {
    html.ready & {
        @content;
    }
}

@mixin hoverable {
    html.hoverable & {
        @content;
    }
}


@mixin icon-font {
    font-family: "Parking Boss";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight:normal !important;
}

%icon-font {
    @include icon-font;
}

@mixin reset {
    @at-root {
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,figure,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;color:inherit;}:focus{outline:0;}body{line-height:normal;color:#000;font-size:10px;}ol,ul{list-style:none;}table{border-collapse:separate;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}ins{text-decoration:none;}del{text-decoration:line-through;}h1,h2,h3,h4,h5,h6{font-weight:normal;}button,input[type=submit],input[type="button"],input[type=reset]{font-size:100%;cursor:pointer;width:auto;overflow:visible;}button[disabled],input[type=submit][disabled],input[type="button"][disabled],input[type=reset][disabled]{cursor:default;}sup{font-size:.75em;}section,header,footer,main,nav,article,aside,figure,dialog,hgroup{display:block;}*,:before,:after{-moz-box-sizing: border-box;box-sizing: border-box;}
}
}

@function car-icon-url($color:#fff) {
    @return svg-url('<svg width="100" height="82" viewBox="0 0 100 82" xmlns="http://www.w3.org/2000/svg"><path d="M100 27.5c0-3.025-2.475-5.5-5.5-5.5h-6.577l-4.769-12.4c-1.186-3.08-4.75-6.342-7.924-7.249 0 .001-8.23-2.351-25.23-2.351s-25.23 2.352-25.23 2.352c-3.174.907-6.738 4.168-7.924 7.249l-4.769 12.399h-6.577c-3.025 0-5.5 2.475-5.5 5.5s2.475 5.5 5.5 5.5h2.346l-1.691 4.4c-1.186 3.079-2.155 8.3-2.155 11.6v26c0 3.85 3.15 7 7 7s7-3.15 7-7v-4h64v4c0 3.85 3.15 7 7 7s7-3.15 7-7v-26c0-3.3-.97-8.521-2.154-11.6l-1.694-4.4h2.348c3.025 0 5.5-2.475 5.5-5.5zm-82.309 1.624l5.617-15.247c.381-1.032 1.592-1.877 2.692-1.877h48c1.1 0 2.312.845 2.691 1.876l5.617 15.247c.38 1.032-.208 1.877-1.308 1.877h-62c-1.1 0-1.689-.845-1.309-1.876zm.789 26.836c-3.58 0-6.48-2.904-6.48-6.479 0-3.576 2.9-6.48 6.48-6.48 3.578 0 6.479 2.904 6.479 6.48.001 3.575-2.9 6.479-6.479 6.479zm63.04 0c-3.579 0-6.479-2.9-6.479-6.479 0-3.58 2.9-6.48 6.479-6.48 3.58-.001 6.48 2.899 6.48 6.479s-2.9 6.48-6.48 6.48z" fill="#{$color}"/></svg>');
}

@mixin car-icon($color:#fff) {
    background-image: car-icon-url($color);
}
