@mixin ui-widget-reset {
    //@include appearance(none); // no longer supported
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
    border:0;
    margin:0;
    padding:0;
    background:transparent;
    font-family:inherit;
    font-size:100%;
    text-align:left;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    &[type='password'] {
        font-family: caption;
        font-family: small-caption;
        //font-size:100%;
        @media only screen {
            font-family:inherit;
            font-weight:inherit;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
}

%ui-widget {
    @include ui-widget-reset;
}